.search {
	display: flex;
	width: 100%;
	padding: 12px 24px;
	background-color: #ffffff;
}
.light {
	background-color: white;
}
.dark {
	background-color: #23272f;
}
.input {
	width: 100%;
	padding: 12px 24px;
	border-radius: 32px;
}